.bg-responsive{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.blur-overlay-light{
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    opacity: 0.8;
    z-index: 1;
    background-image: linear-gradient(to top, #dad6d6, #ffffff);
}

.basis-2-5{
    flex-basis: 20.66667%;
}

.basis-9-5{
    flex-basis: 80.44443%;
}