.gradiant-filter::after{
    background-image: linear-gradient(to bottom, #474747c4, #999);
}


.bg-responsive{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.blur-overlay {
    background-image: linear-gradient(to top, #000, #6b6666);
}