#dropdownProfile {
    margin: 2px 30px !important;
}

.scroll-dark::-webkit-scrollbar{
    width: 10px;
}

.scroll-dark::-webkit-scrollbar-thumb{
    background-color: #475569;
    border-radius: 8px;
}

.scroll-dark::-webkit-scrollbar-track{
    background-color: #1e293b;
}

@media (max-width: 1560px) {
    .scroll-dark {
        overflow-x: auto;
        white-space: nowrap;
    }

    .scroll-dark > div {
        min-width: max-content;
    }
}

body{
    background-color: #1e293b;
    overflow-y: hidden;
}